<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>2015112173 유윤광</p>
    <form class="" action="http://localhost:5000/result" method="post">
      <p>이름 <input type="text" name="Name" value=""></p>
      <p>소프트웨어공학 <input type="text" name="소프트웨어공학" value=""></p>
      <p>머신러닝 <input type="text" name="머신러닝" value=""></p>
      <p>캡스톤디자인1 <input type="text" name="캡스톤디자인1" value=""></p>
      <p><input type="submit" name="" value="submit"></p>

    </form>
  </body>
</html>
