<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="http://localhost:5000/score" method="post">
      <p>이름 <input type="text" name="Name" value=""></p>
      <p>소프트웨어 공학 <input type="text" name="SoftwareEngineering" value=""></p>
      <p>머신러닝 <input type="text" name="Machine Learning" value=""></p>
      <p>캡스톤디자인1 <input type="text" name="Capstone Design" value=""></p>
      <p><input type="submit" name="" value="Submit!"></p>
    </form>
  </body>
</html>
